{% extends "layout.html" %}
{% load static %}

{% block content %}
    {% include 'navbar.html' %}
    <section class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <h1 class="headline font-weight-bold">How To Get [Desired Result] in [Specific Time Frame]...&nbsp;</h1>
                    <h3 class="headline"><strong><em><span style="text-decoration: underline;">Without/Even if you have no [Biggest Worry]</span></em></strong><br></h3>
                    <p class="my-4">Example Headline: How To Get Paying Client From LinkedIn In As Little As 7 Days... Even if you have zero experience.<br></p>
                    <p>[Introduction paragraph of what you will get from this book]. Example: In this highly coveted book, I show you the exact step by step formula I use to land clients on LinkedIn. That's including 97 tricks that you can start using right
                        away!<br></p><a class="btn btn-danger btn-block btn-lg my-3" role="button" href="#payment">Get Your Ebook Now For Kshs 800!</a></div>
                <div class="col"><img id="book_cover" src="{% static 'assets/img/ebook_mockup.jpg' %}"></div>
            </div>
        </div>
    </section>

    <div class="testimonials-clean bg-light">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Testimonials </h2>
                <p class="text-center">[Provide some social proof to nudge your customers to buy your book here. Be original and don't fake testimonials]</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">I was skeptical about this book until I plugged in trick #3 into my Linked account... 3 days later I landed my first client!</p>
                    </div>
                    <div class="author"><img class="rounded-circle" src="{% static 'assets/img/1.jpg' %}">
                        <h5 class="name">Ben Johnson</h5>
                        <p class="title">CEO of Company Inc.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">This book is a must read. [Author] clears tell where, when and how to use the formula in this book. No beating around the bush here.</p>
                    </div>
                    <div class="author"><img class="rounded-circle" src="{% static 'assets/img/2.jpg' %}">
                        <h5 class="name">Carl Kent</h5>
                        <p class="title">Founder of Style Co.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">This book has the wisdom that nobody is willing to share. Thank you very much [author] for sharing your wisdom with us.</p>
                    </div>
                    <div class="author"><img class="rounded-circle" src="{% static 'assets/img/3.jpg' %}">
                        <h5 class="name">Emily Clark</h5>
                        <p class="title">Owner of Creative Ltd.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-9">
                    <h2 class="headline text-center">What You Will Get From This Book</h2>
                    <p>[This is where you break down what your customers will get and the expected results from reading your book in short catch statements or bullets. You can use the formula to give you an idea of how you should frame your bullets. (Plus
                        you can also add in a powerful guarantee in this section]&nbsp;<br></p>
                    <ul class="text-left">
                        <li><strong>Chapter 1:</strong> Learn the Number #1 [Trick/Hack] that gives [desired result] so that you can [benefit here]</li>
                        <li><strong>Chapter 2:</strong> Learn the Number #1 setting on LinkedIn that turns your profile into a client magnet so that you never have to worry about 'low season' again.</li>
                        <li><strong>Chapter 3:</strong> How to write a LinkedIn message to your dream client that builds instant rapport and connection with them.</li>
                        <li><strong>Chapter 4:</strong> What [mistake] that gives [painful result]<br></li>
                        <li><strong>Chapter 5:</strong> The common mistake that only newbies on LinkedIn make. It costs them their career, sales and clients.</li>
                        <li><strong>Chapter 6</strong>: An example of how to [process] so that you get [result]</li>
                    </ul><a class="btn btn-danger btn-block btn-lg my-3" role="button" href="#payment">Click Here To Get This Book Now!</a></div>
            </div>
        </div>
    </section>

    <div class="team-clean bg-light py-4">
        <div class="container">
            <div class="intro">
                <h1 class="text-center headline">Meet The Author</h1>
            </div>
            <div class="row justify-content-center people">
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="{% static 'assets/img/1.jpg' %}">
                    <h3 class="name">[Author Name]</h3>
                    <p class="title">[PROFESSION]LinkedIn Coach</p>
                    <p class="description">Achievement 1,&nbsp;Achievement 2, Achievement 3,&nbsp;Achievement 4, Achievement 5,&nbsp;<br></p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
        </div>
    </div>

        <section id="payment" class="py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <h1 class="headline text-center">What You Have To Do Right Now To Get This Book</h1>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <ol>
                            <li>Select "Pay Bill" from the M-Pesa menu<br></li>
                            <li>Enter the Business Number: <strong>XXXX</strong></li>
                            <li>Enter your phone number as your account number</li>
                            <li>Enter <strong>Kshs 800</strong> as the amount</li>
                            <li>Confirm the details are correct, press OK, and wait for the confirmation message</li>
                            <li>Then enter the transaction code below</li>
                        </ol>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <form>
                            <div class="form-group text-center"><input class="form-control form-control-lg" type="text" required="" name="transaction" placeholder="PAV07V50F13"><button class="btn btn-danger btn-block btn-lg my-3" type="submit">&gt;&gt; I HAVE PAID &lt;&lt;</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
